<!-- voter_analytics/voter_list.html -->

<!-- 8-2-2 -->

{% extends 'voter_analytics/base.html' %}



{% block content %}


<!-- Filters from voter_filter -->
<div class="container">
    <div class="row">
        {% include "voter_analytics/voter_filter.html" %}
    </div>
    
    <h1>Showing all Results</h1>
</div>
        
<!-- Pagination to scroll through 100 at a time -->
<div class="container">
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
<!-- List of all voters -->
    <div class="row">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Party</th>
                <th>Voter Score</th>
            </tr>

            {% for voter in voters %}
            <tr>
                <td>{{ voter.first_name }}</td>
                <td>{{ voter.last_name }}</td>
                <td>{{ voter.street_number }} {{ voter.street_name}} {{ voter.apartment_number }} </td>
                <td>{{ voter.date_of_birth }}</td>
                <td>{{ voter.party_affiliation }}</td>
                <td>{{ voter.voter_score}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
