<!-- voter_detail/voter_list.html -->

<h1>Filter Voters</h1>

<table>
  <form action="{% url 'voters' %}">

    <tr>
      <th>Party:</th>
      <td>
        <select name="party">
          <option value="">All</option>
          {% for p in parties %}
            <option value="{{ p }}" {% if filters.party == p %}selected{% endif %}>{{ p|cut:" " }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <th>Min DOB Year:</th>
      <td>
        <select name="min_dob">
          <option value="">Any</option>
          {% for year in years %}
            <option value="{{ year }}" {% if filters.min_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <th>Max DOB Year:</th>
      <td>
        <select name="max_dob">
          <option value="">Any</option>
          {% for year in years %}
            <option value="{{ year }}" {% if filters.max_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <th>Voter Score:</th>
      <td>
        <select name="score">
          <option value="">Any</option>
          {% for score in scores %}
            <option value="{{ score }}" {% if filters.score == score|stringformat:"s" %}selected{% endif %}>{{ score }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><input type="submit"></td>
      <td></td>
    </tr>
  </form>
</table>