<html>
    <head>
        {% load static %}
        <title>Anime Meals</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>AniMeals</h1>
        </header>
        <br><br><br><br>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Main</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
            </ul>
        </nav>
        <br><br>
        <main>
            <h2>Hello Weeb!</h2>
            <p>
                Located in the Grand Line. Our hours of operation are listed below:
            </p>
            <p>Monday-Friday: 10am-8pm</p>
            <p>Saturday&Sunday: 12pm-5pm</p>
            <img src="https://i.pinimg.com/736x/6c/ef/11/6cef11d8b530823aff10f6835a33aecb.jpg" width="300"><br>

        </main>
    </body>
</html>
