<!-- hw/templates/hw/home.html -->

<html>
    <head>
        <title>
            Hello, world!
        </title>
    </head>

    <body>
        <h1>
            Hi, wrld!
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quod placeat quasi numquam sapiente ullam in aspernatur minus quibusdam, corporis corrupti molestiae, nulla provident magnam odit fugit. Aperiam, similique mollitia?
        </p>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores amet aliquam officia laudantium nemo pariatur. Ipsa, unde quae sunt, repellat aliquid tenetur, sapiente vel facilis repellendus velit cumque beatae officiis.
        </p>

        <footer>
            The current time isnt {{time}}
            This page has been brought to you by the letters
            {{letter1}} nd {{letter2}}, and by the number {{number}}.
        </footer>
    </body>    
    
</html>