<!-- project/attribute_list.html -->

{% extends 'project/base.html' %}
{% block title %}Attributes{% endblock %}
{% block content %}
<h1>Attributes</h1>

<div class="attr-grid">
    <div class="attr-card">
        <h3>Finishing Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Finishing" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="attr-card">
        <h3>Shooting Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Shooting" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="attr-card">
        <h3>Playmaking Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Playmaking" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="attr-card">
        <h3>Defense Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Defense" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="attr-card">
        <h3>Rebounding Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Rebounding" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="attr-card">
        <h3>Physical Attributes:</h3>
        {% for attr in attributes %}
        {% if attr.category == "Physical" %}
        <a href="{% url 'attribute_detail' attr.pk %}">{{ attr.name }} </a>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}