<!-- project/badge_detail.html -->

{% extends "project/base.html" %}
{% block title %}{{ badge.name }} Details{% endblock %}
{% block content %}

<div class="badge-detail">
  <h1>{{ badge.name }}</h1>
  <hr>
  <p><strong>Category:</strong> {{ badge.category }}</p>
  <p>{{ badge.description }}</p>
  <hr>
  <h2>Levels &amp; Requirements</h2>
  {% for code, info in levels.items %}
    <div class="grid-container">
      <div class="crop">
        <br>
        <h3>{{ info.label }}</h3>
        <p><strong>Height:</strong> {{ info.height_range }}</p>


        <!-- AND requirements -->
        {% for req in info.ands %}
        <p>{{ req.attribute.name }} ≥ {{ req.min_value }}</p>
        {% endfor %}

        <!-- OR requirements -->
        {% for group in info.ors %}
        <p>One of:
          {% for req in group %}
        <p>{{ req.attribute.name }} ≥ {{ req.min_value }}</p>
        {% endfor %}
        </p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<a href="{% url 'badge_list' %}">← Back to Badges</a>

{% endblock %}