<!-- project/build_list.html -->
 
{% extends "project/base.html" %}
{% block title %}Saved Builds{% endblock %}
{% block content %}
  <h1>All Builds</h1>
  <ul class="builds-list">
    {% for build in builds %}
      <li>
        <span><a href="{% url 'build_detail' build.pk %}">{{ build.name }}</a></span>
        <span>
          <a href="{% url 'build_edit' build.pk %}">Edit</a> |
          <a href="{% url 'build_delete' build.pk %}">Delete</a>
        </span>
      </li>
    {% empty %}
      <li>No builds yet.</li>
    {% endfor %}
  </ul>

{% endblock %}
