<!-- project/home.html -->
{% extends "project/base.html" %}
{% block title %}MyPlayer Builder Home{% endblock %}
{% block content %}
  <h1>Welcome to MyPlayer Builder</h1>
  <p>Use the navigation above to browse Attributes, Badges, Badge Levels, or your Builds.</p>
  <br><br>
  <p>NOTE: Every height assumes the preset weight & wingspan</p>
  <p>On NBA2K25, players can create their MyPlayer build by selecting their position, height, 
    weight, wingspan, and attributes. These selections play a role in determining the badges 
    and badge levels their MyPlayer can acquire.
  </p>
  <p>This app allows users to plan for their build's creation by selecting the badges they 
    want their player to have. This will show the user what attributes they need to upgrade 
    in order to gain their chosen badges. 
  </p>
{% endblock %}
