<!-- mini_fb/base.html -->
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendZone</title>
    <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="site-title">
                <a href="{% url 'landing' %}">FriendZone</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">All Apps</a></li>
                    <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                    {% if user.is_authenticated and user.profile %}
                    <li><a href="{% url 'show_profile' user.profile.pk %}">My Profile</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="btn secondary">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'create_profile' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
                <hr style="border: none; border-top: 2px solid #C65E47;">
                {% if request.user.is_authenticated %}
                <div class="user-info">
                    Logged in as: <strong>{{ request.user.username }}</strong>
                </div>
                {% else %}
                <div class="user-info">Not logged in.</div>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            &copy; {% now "M d, Y" %} | FriendZone
        </div>
    </footer>
</body>

</html>