<!-- mini_fb/create_profile_form.html -->
{% extends "mini_fb/base.html" %}
{% block content %}
<div class="container">
  <div class="form-panel">

    <h2>Create a New Profile</h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <h3>User Registration</h3>

      <div class="form-group">
        {{ user_form.as_table }}
      </div>

      <h3>Profile Information</h3>

      <div class="form-group">
        {{form.as_table}}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn primary">Create Profile</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}