<!-- mini_fb/news_feed.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>News Feed for {{ profile.first_name }} {{ profile.last_name }}</h1>

<a href="{% url 'show_profile' profile.pk %}">← Back to Profile</a>

{% for message in news_feed %}
    <div style="border: 1px solid #ccc; padding: 10px; margin: 15px 0;">
        <div style="display: flex; align-items: center;">
            {% if message.profile.image_file %}
            <a href="{% url 'show_profile' message.profile.pk %}">
                <img src="{{ message.profile.image_file.url }}" alt="Profile Image"
                style="width: 60px; height: 60px; object-fit: cover; border-radius: 0%; margin-right: 0px;">
            </a>            
                {% endif %}
            <strong>{{ message.profile.first_name }} {{ message.profile.last_name }}</strong>
        </div>
        <p><em>{{ message.timestamp }}</em></p>
        <p>{{ message.message }}</p>

        {% for img in message.get_images %}
            <img src="{{ img.image_file.url }}" style="width: 150px; height: auto; margin: 5px;">
        {% endfor %}
    </div>
{% empty %}
    <p>No status messages to show.</p>
{% endfor %}
{% endblock %}
