<!-- mini_fb/show_profile.html -->
 
{% extends "mini_fb/base.html" %}

{% load static %}

{% block content %}

<div class="main">

    <a href="{% url 'show_news_feed' profile.pk %}">
        <h2>View News Feed</h2>
    </a>


    <profile class="featured">
        

        {% if profile.image_file %}
        <img src={{profile.image_file.url}} alt="">

        {% else %}
        <h3>No image</h3>

        {% endif %}

        <div>
            <h1>{{profile.first_name}} {{profile.last_name}}</h1>
            <h3>{{profile.city}}</h3>
            <h3>{{profile.email_address}}</h3>
            <a href="{% url 'create_status' profile.pk %}">Post a New Status</a>
            <a href="{% url 'update_profile' pk=profile.pk %}">Update Profile</button></a>        
        </div>

    </profile>

    

    <div class="grid_container">
        <h2>{{ profile.first_name }}'s Friends</h2>
        
        <profile>
            <!-- Loop thru profile's friends -->
            {% for friend in profile.get_friends %}

            <!-- Show image -->
            <a href="{% url 'show_profile' friend.pk %}">
            <div class="crop">
                {% if friend.image_file %}
                <img src={{friend.image_file.url}} alt="" style="width: 200px; height: 200px;">
                {% else %}
                <h3>No image</h3>
                {% endif %}
            </div>            
            
            <h4>{{ friend.first_name }} {{ friend.last_name }}</h4>
            </a>

            {% empty %}
            <li>No friends yet.</li>
            {% endfor %}
        </profile>
    </div>
    <br>
    <a href="{% url 'friend_suggestions' profile.pk %}">Friend Suggestions</a>


</div>


{% endblock %}