{% load static %}
<html>

<head>
    <title>Lil Wayne Quotes</title>
    <!-- <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}"> -->
    <link rel="stylesheet" href="{% static 'quotes.css' %}">

</head>

<body>
    <h1>BARS BY LIL WAYNE</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">All Apps</a></li>
            <li><a href="{% url 'quotes' %}">Generate a Random Quote</a></li>
            <li><a href="{% url 'show_all' %}">Show All</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>