{% load static %}
<html>
    <head>
        <title>Quotes App</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>BARS BY LIL WAYNE</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">CS412</a></li>
                <li><a href="{% url 'quotes' %}">Random Quote</a></li>
                <li><a href="{% url 'show_all' %}">Show All</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
